<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
   <%= render "users/user_info",user: @user,isRoom: @isRoom,room: @room,entry: @entry,roomId: @roomId %>
   <h1>New Book</h1>
<%= render "books/new",book: @book %>
  </div>
 <div class="col-md-8 offset-md-1">
   <h1>
     <%= @group.name %>
     <% if @group.owner_id == current_user.id %>
    <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle"
            type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      オーナー専用
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <%= link_to "承認待ち一覧", permits_path(@group),  class: "dropdown-item text-secondary bg-transparent" %>
      <%= link_to 'グループ編集', edit_group_path(@group),  class: "dropdown-item text-success bg-transparent" %>
      <%= link_to 'グループ削除', group_path(@group), method: :delete,  class: "dropdown-item text-danger bg-transparent", data: { confirm: "本当に削除しますか？" } %>
    </div>
  </div>
<% end %>
   <% unless @group.user_id == current_user.id %>
     <% if @group.group_users.exists?(user_id: current_user.id) %>
　　　　<%= link_to 'グループ退出', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当にグループを退出しますか？" } %>
 <% elsif @group.permits.exists?(user_id: current_user.id) %>
　　　　<%= link_to '申請取消', group_permits_path(@group), method: :delete,"data-confirm"=>"申請を取り消しますか？",class: "btn btn-sm btn-danger" %>
 <% else %>
　　　　<%= link_to '加入申請', group_permits_path(@group), method: :post, class: "btn btn-sm btn-success" %>
 <% end %>
 <% end %>
   </h1>
   <table class="table">
     <tr>
       <th>Image</th>
       <th>Owner Name</th>
       <th>Introduction</th>
       <th></th>
       <% if @group.user_id == current_user.id %>
       <th></th>
        <% end %>
     </tr>
     <tr>
       <td><%= image_tag @group.get_group_image(100,100) %></td>
       <td><%= link_to @group.user.name,user_path(@group.user.id) %></td>
       <td colspan="3"><%= @group.introduction %></td>
     </tr>
   </table>
   <h2>メンバー一覧</h2>
   <table class="table">
     <tr>
       <td><%= image_tag @group.user.get_profile_image(100,100) %></td>
       <td><%= link_to @group.user.name,user_path(@group.user.id) %></td>
     </tr>
     <% @group.users.each do |user| %>
     <tr>
       <td><%= image_tag user.get_profile_image(100,100) %></td>
       <td><%= link_to user.name,user_path(user.id) %></td>
     </tr>
     <% end %>
   </table>
   </div>
 </div>
</div>