
<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tr>
    <th>Name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>Favorites</th>
    <td>
      <%= link_to favorite_user_path(user.id) do %>
      <%= user.favorites.count %>いいね
      <% end %>
      </td>
  </tr>
</table>
<div class="row">
  <%= link_to edit_user_path(user.id),class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
  <% end %>
  </div>