<div class="container px-5 px-sm-0">
<div class="row">
  <div class="col-md-3">
<%= render "users/user_info",user: @user,isRoom: @isRoom,room: @room,entry: @entry,roomId: @roomId %>
<h1>New Book</h1>
<%= render "new",book: @book_new %>
</div>
<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
 <!-- タグリスト -->
      <% @book_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
      <% end %>
<table class="table table-hover text-nowrap">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Opinion</th>
    <% unless @book.user_id == current_user.id %>
    <th colspan="2"></th>
    <% else %>
    <th colspan="4"></th>
    <% end %>
  </tr>
  <tr>
    <td><%= image_tag @book.user.get_profile_image(100,100) %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td id="comment_counter">
      <%= render "book_comments/comment_count",book: @book %>
      </td>
      <% unless @book.user_id == current_user.id %>
    <td id="favorite_btn_<%= @book.id %>">
   <%= render "favorites/favorite",book: @book %>
   </td>
   <% else %>
   <td>♥<%= @book.favorites.count %>いいね</td>
   <% end %>
    <% if @book.user_id == current_user.id %>
    <td><%= link_to "Edit",edit_book_path(@book),class: "btn btn-success" %></td>
    <td><%= link_to "Destroy",book_path(@book),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-danger" %></td>
    <% end %>
  </tr>
</table>
    <h2>コメント一覧</h2>
    <div id="comment_index">
    <%= render "book_comments/comment",book: @book %>
    </div>
    <%= form_with model: [@book,@comment],local: false do |f| %>
      <%= f.text_area :comment,rows: "5",placeholder: "コメントをここに",class: "form-control", id: "comment_textarea" %>
      <%= f.submit "送信",class: "btn btn-primary" %>
      <% end %>
</div>
</div>
</div>