<% if user_signed_in? %>
<h2>User一覧</h2>
<% @users.each do |u| %>
<% if @current_room.entries.pluck(:user_id).exclude?(u.id) %>
<p><%= u.name %>さん</p>
<%= form_for(@entry,:url => {:controller => :rooms, :action => :room_add_user}) do |f| %>
<%= f.hidden_field :user_id, :value => u.id %>
<%= f.hidden_field :room_id, :value => @current_room.id %>
<%= f.submit "追加" %>
<% end %>
<hr>
<% end %>
<% end %>
<% end %>