<div class="container">

  <%= form_with model: @message,local: false do |f| %>
<%= f.text_field :message,class: "form-control", id: "chat_field" %>
<%= f.hidden_field :room_id,value: @room.id %>
<%= f.submit "投稿",class: "btn btn-primary" %>
<% end %>
<div class="d-flex flex-column mb-3">
  <div class="row justify-content-between position-relative">
<% @entries.each do |e| %>
  <% if @room.user_id == current_user.id %>
  <div class="col-4">
  <%= image_tag e.user.get_profile_image(100,100) %>
  <%= link_to e.user.name,user_path(e.user_id) %>
  </div>
  <% else %>
  <div class="col-4">
  <%= image_tag e.user.get_profile_image(100,100) %>
  <%= link_to e.user.name,user_path(e.user_id) %>
  </div>
  <% end %>
<% end %>
</div>
<div id="messages">
  <% if @messages.present? %>
    <% @messages.reverse_each do |m| %>
    <% if m.present? %>
      <%= render 'messages/message',m: m %>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
</div>