<div class="container">

  <%= form_for @message,local: false do |f| %>
<%= f.text_field :message,class: "form-control", id: "chat_field" %>
<%= f.hidden_field :room_id,value: @room.id %>
<%= f.submit "投稿",class: "btn btn-primary" %>
<% end %>
<div class="d-flex flex-column mb-3">
  <div class="row justify-content-between position-relative">
  <% if @room.user_id == current_user.id %>
<% @entries.each do |e| %>
<div class="col-4">
<%= image_tag e.user.get_profile_image(100,100) %>
<%= link_to e.user.name,user_path(e.user_id) %>
</div>
<% end %>
<% else %>
  <% @entries.reverse_each do |e| %>
<div class="col-4">
<%= image_tag e.user.get_profile_image(100,100) %>
<%= link_to e.user.name,user_path(e.user_id) %>
</div>
<% end %>
<% end %>
</div>
<div id="messages">
<%= render 'messages/message',messages: @messages %>
</div>
</div>
</div>